<!-- app/views/authors/show.html.erb -->

<h1><%= @author.name %></h1>

<% if @author.books.any? %>
  <h3>Books:</h3>
  <ul>
    <% @author.books.each do |book| %>
      <li>
        <%= link_to book.title, book_path(book) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No books found for this author.</p>
<% end %>

<%= link_to 'Back', authors_path %>
