<!-- app/views/pages/search.html.erb -->
<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |result| %>
      <li><%= link_to result.name || result.title, result_path(result) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found for '<%= @query %>'</p>
<% end %>

<%= link_to 'Back', root_path %>
