<h1>Listing Bookstores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookstores.each do |bookstore| %>
      <tr>
        <td><%= bookstore.name %></td>
        <td><%= link_to 'Show', bookstore %></td>
        
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookstore', new_bookstore_path %>

<%= paginate @bookstores %>

