<!-- app/views/bookstores/show.html.erb -->

<h1><%= @bookstore.name %></h1>
<p><%= @bookstore.address %></p>

<h2>Books available at this bookstore:</h2>
<% if @bookstore.books.any? %>
  <ul>
    <% @bookstore.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No books available at this bookstore.</p>
<% end %>

<%= link_to 'Back', bookstores_path %>
